*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*style herder*/
header,nav
{
    background-color: black;
    min-height: 5vh;
    align-items: center;
    width: 100%;
    padding: 2rem;
}
h2{
    margin-left: 50px;
    color: aliceblue;
    font-size: 30px;
    align-items: center;
    text-shadow: 0 0 10px rgb(198, 59, 226);/*ombre sur un texte*/
}
 .head a
{
    display:flex;
    color: white;
    text-decoration: none;
    margin-right: 100px;
    font-size: 20px;
    
}
.head a:hover{
    color: black;
    background-color: rgb(254, 254, 255);
    transition:all 0.3s ease;
    border-style:solid;
    border-color: rgb(50, 0, 252);
    border-radius: 10px;
    border-width: 3px;
}
ul{
    display:flex ;
    float:right;
    list-style-type: none;
    align-items: center;
}
body{
    font-family: 'Abril Fatface';
    font-family: 'Noto Serif HK', serif;
}
section
{
    background-image: url(image\ de\ fond.jpg);
    min-height:80vh;
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content:center;

}
/*centré le texte à gauche*/
.div1{
    position: relative;
    padding:50px;
    margin-bottom:30px;
    margin-right: 1000px;
    top: 75px;
    left: 50px;
    align-items:center;
    font-size: 15px;
    color: white;
    text-shadow: 0 0 10px rgb(198, 59, 226);/*ombre sur un texte*/
}
h1{ 
    position:relative;
    top:100px;
    left: 75px;
    align-items: center;
    text-shadow: 0 0 10px red;/*ombre sur un texte*/
    font-size: 100px;
    color:white;
}

footer{
    width: 100%;
    background-color: #040405;
    padding: 2px 2px;
}
h4{
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight:200;
    color: white;
    text-shadow: 0 0 10px rgb(198, 59, 226);/*ombre sur un texte*/
    text-align: center;
}
.foot a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255,0.2);
    margin-right: 200px;
    color: white;
    text-shadow: 0 0 10px rgb(198, 59, 226);/*ombre sur un texte*/
    line-height: 50px;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.foot a:hover{
    color:rgb(220, 220, 236);
    background-color:rgb(157, 67, 235);

}
/*centré le pied de page*/
.foot{
    text-align: center;
}