body{
    background: #f6f5f7;
    position: absolute;
    height:100vh ;
    width: 100% ;
    margin: -20px 0 50px;
    justify-content: center;
    align-items: center;
}
.contenu{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    background:#fff;
    box-shadow: 7px 4px 19px -2px black;
}
/*.forme{
position: absolute;
z-index: 2;
top:50%;
left: 50%;
transform: translate(-50%, -50%);

width:930px;
height: 60%;
min-height: 510px;
background-color: aqua;
/*box-shadow: 7px 4px 19px -2px black;*/

.section1{
    background-color: rgb(255, 255, 255);
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*.section2{
    float:right;
    background-color: blue;
}*/
.input{
    background: rgb(216, 214, 214);
    border: none;
    padding: 12px 15px;
    margin: 8px 0px;
    width: 100%;
}
button{

}